<!--<div style="background-color: aliceblue" ng-controller="SidebarController">

<input type="checkbox" ng-model="showsidebar"></input>

<nav class="navbar-default sidebar" role="navigation" ng-hide="showsidebar">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav " id="side-menu">
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>New<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">item1</a>
                    </li>
                    <li>
                        <a href="#">itwm2</a>
                        
                    </li>
                </ul>
               
            </li>
        </ul>
    </div>
</nav>
 </div>
 -->