<!--% load compress %}-->
{% load staticfiles %}
 

<!--% compress js %}-->
<!-- libraries -->
<script type="text/javascript" src="{% static 'libs/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angularjs/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angularjs/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/angularjs/angular-cookies.js' %}"></script>


<!-- project -->
<script type="text/javascript" src="{% static 'js/phoebe.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/phoebe.config.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/phoebe.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/authentication.controllers.js' %}"></script>

<!--% endcompress %}-->
