<!--% load compress %}-->
{% load staticfiles %}


<!--% compress css %}-->
<link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'libs/metismenu/metisMenu.css' %}"/>


<link rel="stylesheet" type="text/css" href="{% static 'css/layout/sidebar.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/layout/global.css' %}"/>


<link rel="stylesheet" href="{% static 'css/chl.css' %}">
<link id="theme-list" rel="stylesheet" href="{% static 'css/theme.css' %}">
